@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}
body {
  background: rgb(0, 0, 0);
}

/* ///////////---Nav---RuleSet---///////// */

nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 3em;
}
.logo {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 2em;
  font-weight: 800;
}
.home {
  background-color: rgb(230, 83, 60);
  color: #fff;
  border-radius: 0.5em;
  padding: 0.5em;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 4em;
  font-family: Inter;
  font-size: 1.1em;
  font-weight: 600;
}
.icon {
  display: none;
}

/* /////////---Banner-Part-RuleSet---///////// */

.sec-01 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1em;
  /* padding: 0 10em; */
}
.title {
  width: 50%;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 4em;
  font-weight: 900;
}
.title-text {
  width: 50%;
  margin-top: 2em;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1em;
  font-weight: 400;
}
.ban-text {
  margin-left: 2em;
}
.btn {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}
.btn-primary {
  width: 224px;
  height: 54px;
  padding: 0.5em 1em;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 42px;
  border: none;
  background: rgb(230, 83, 60);
}
.btn-secondary {
  width: 224px;
  height: 54px;
  padding: 0.5em 1em;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 42px;
  border: none;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}

.hero {
  margin-right: 7em;
}

/* ///////---Section--02---////// */

.sec-02 {
  text-align: center;
  margin: 2em;
}
.sec-02 h3 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 3em;
  font-weight: 900;
}
.sec-02 p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1em;
  font-weight: 400;
  margin-top: 1em;
}
.exersize {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4em;
}
.card {
  width: 14em;
  height: 17em;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.card h4 {
  margin-top: 1em;
}
.card p {
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
}
.card img {
  border-radius: 50%;
}

/* ///////---Section--03//////// */

.sec-03 {
  border-radius: 18px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3em;
}
.sec-03-text {
  width: 27em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em;
}
.sec-03-text h3 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 3em;
  font-weight: 900;
}
.sec-03-text p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1em;
  font-weight: 400;
}
.sec-03-img {
  border-radius: 18px;
}


/* //////---Section--04---//////// */

