@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}
body {
  background: rgb(0, 0, 0);
}

/* ///////////---Nav---RuleSet---///////// */

nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 3em;
}
.logo {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 2em;
  font-weight: 800;
}
.home {
  background-color: rgb(230, 83, 60);
  color: #fff;
  border-radius: 0.5em;
  padding: 0.5em;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 4em;
  font-family: Inter;
  font-size: 1.1em;
  font-weight: 600;
}
.icon {
  display: none;
}

/* /////////---Banner-Part-RuleSet---///////// */

.sec-01 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
 
}
.title, .title-text {
  width: 100%; /* change to 100% to make them responsive */
}
.title {
  /* width: 50%; */
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 4em;
  font-weight: 900;
}
.title-text {
  /* width: 50%; */
  margin-top: 2em;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1em;
  font-weight: 400;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.8em;
  margin-top: 2em;
}
.btn-primary {
  width: 12em;
  height: 3em;
  padding: 0.5em 1em;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 2.625em;
  border: none;
  background: rgb(230, 83, 60);
}
.btn-secondary {
  width: 12em;
  height: 3em;
  padding: 0.5em 1em;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 2.625em;
  border: none;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}

.hero {
  margin-right: 7em;
}

.hero img {
  position: relative;
}
.token-01 {
  position: absolute;
  top: 40%;
  right: 2%;
  /* width: 12.063em; */
  width: 40%;
  height: 6.125em;
  padding: 1.2em;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.75em;
  background: rgba(255, 255, 255, 0.1);
}
.token-02 {
  position: absolute;
  top: 80%;
  left: 60%;
  /* width: 12.063em; */
  width: 40%;
  height: 6.125em;
  padding: 1.2em;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.75em;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5em;
}
.token-num {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 2.5em;
  font-weight: 900;
}
.token {
  color: rgba(255, 255, 255, 0.65);
font-family: Inter;
font-size: 0.8em;
font-weight: 400;
} 
.circle {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background: rgb(230, 83, 60);
}


/* ///////---Section--02---////// */

.sec-02 {
  text-align: center;
  margin: 2em;
}
.sec-02 h3 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 3em;
  font-weight: 900;
}
.sec-02 p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1em;
  font-weight: 400;
  margin-top: 1em;
}
.exersize {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4em;
}
.card {
  width: 14em;
  height: 17em;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.card h4 {
  margin-top: 1em;
}
.card p {
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
}
.card img {
  border-radius: 50%;
}

/* ///////---Section--03//////// */

.sec-03 {
  border-radius: 18px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3em;
}
.sec-03-text {
  width: 27em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em;
}
.sec-03-text h3 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 3em;
  font-weight: 900;
}
.sec-03-text p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1em;
  font-weight: 400;
}
.sec-03-img {
  border-radius: 18px;
}

/* //////---Section--04---//////// */

.sec-04 {
  color: rgb(255, 255, 255);

  margin-top: 4em;
}

.sec-04 h3 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 3em;
  font-weight: 900;
 
}
.sec-04-title {
  text-align: center;
}
.sec-04 p {
  text-align: center;
  font-family: Inter;
  font-size: 1em;
  font-weight: 400;
}

.sec-04-content {
  background: rgb(34, 34, 34);
  margin-top: 4em;
  padding: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3em;
}
.table-title h4 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.75em;
  font-weight: 900;
}
table {
  border-collapse: collapse;
  /* width: 19em; */
  margin: 20px 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
}
.table-title, .sec-04-form {
  width: 100%; /* change to 100% to make them responsive */
}
.sec-04-form {
  margin-top: 1em;
  padding: 0 1em;
}
.sec-04-form p {
  margin: 1.5em auto;
}

  
.input {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75em;
}

.input-field {
  /* width: 100%; */
  position: relative;
  
}

.input-field input,
.input-field select {
  height: 3em;
  font-size: 1em;
  padding: 0.938em;

  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}
#gender {
  width: 100%;
  height: 3em;
  padding: 0.938em;
  color: rgba(255, 255, 255, 0.6);
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 0.938em;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.188em;
  pointer-events: none;
  transition: 0.3s;
  display: block;
  margin-bottom: 0.5em;
 
} 

input:focus {
  border: 2px solid #1cd679;
}


.data {
  width: 75%;
  height: 3em;
  padding: 0.938em;
  color: rgba(255, 255, 255, 0.6);
}
/* .data-2 {
  width: 32em;
} */
/* ///////////---Section--05--////////////// */

.sec-05 h3 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  margin-top: 1em;
}
.sec-05 p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.875em;
  font-weight: 400;
  text-align: center;
  margin: 2em auto;
}

.gallery {
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  padding: 1.25em;
  margin: 0 11.875em;
}
.grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
  margin-top: 1.25em;
}
.profile {
  position: relative;
}
.profile p {
  position: absolute;
  top: 50%;
  left: 10%;
  color: #fff;
  font-family: Inter;
  font-size: 1.5em;
  font-weight: 600;
}
.job {
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.875em;
font-weight: 400;
}
.profile img {
  height: 17em;
  width: 100%;

  filter: brightness(80%);
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.2);
}







/* ///////---Footer---//////// */

footer {
  height: 30.563em;
  color: #fff;
  margin-top: 4em;
}
.f-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3em;
}
.footer-text {
  width: 27.688em;
}
.footer-text h3 {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 4.375em;
  font-weight: 800;
}
.footer-text p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.875em;
  font-weight: 400;
  margin-top: 1.5em;
}
.footer-link h4 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 2em;
  font-weight: 700;
}
.footer-link p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1.438em;
  font-weight: 400;
  margin-top: 1.5em;
}
.final-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.line {
  width: 66.219em;
}
.copyright {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1.438em;
  font-weight: 400;
  margin-top: 1em;
}



/* ////---Media-Querry---//// */


@media screen and (min-width: 300px) and (max-width: 576px) {
  * {
    font-size: 12px;
  }
  nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .nav-list {
    display: none;
  }
  .icon {
    width: 2em;
    display: inline-block;
    color: #fff;
  }
  .sec-01 {
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin: 0 auto;   
  }
.title, .title-text {
  width: 100%;
}
  .ban-text {
    margin-bottom: 20px; 
    text-align: center;
  }
  .hero {
    position: relative; 
    margin-right: 0; 
  }
  .hero img {
    width: 100%;          
    height: auto;
   
  }

  .token-01 {
    position: absolute;
    top: 30%; 
    left: 70%;
    transform: translateX(-50%); 
    right: auto; /
  }
  .token-02 {
    position: absolute;
    bottom: 50%; 
    left: 20%;
    transform: translateX(-50%);
  }

  .exersize, .sec-03{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 0 auto;
  }
  .sec-03-img, .sec-03-text{
    
width: 100%;
  }
  .sec-04-content {
    width: 100%;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 3em;
  }
  .sec-04-form {
    padding: 0 1em;
    width: 22.125em;
    
    
  }
  .input {   
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.75em;
    padding: 0 1em;
   
  }
  .sec-04-form h3 {
    font-size: 1em;
  }
  .sec-04-form p {
    text-align: start;
  }

  .sec-04-field {
    
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
  }
 
  .gallery  {
    width: 80%;
    margin: 0 auto;
  }
  .grid-row {
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    margin-top: 2em;
    
    
  }
  .f-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
  }
  .line {
    width: 80%;
  }
  footer {
    width: 100%;
    flex-direction: column;
  }
}


